# Advanced Dataframes Exercises

## Run python -m pip install mysqlclient pymysql from your terminal to install pymysql and the mysqlclient.

## Create a notebook or python script named advanced_dataframes to do your work in for these exercises.

In [11]:
import pandas as pd
import numpy as np
from env import host, password, username

In [42]:
# 1. Create a function named get_db_url. It should accept a username, 
# hostname, password, and database name and return a url connection 
# string formatted like in the example at the start of this lesson.

def get_db_url(db, username=username, host=host, password=password):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'
    
url = get_db_url('employees')

In [43]:
# 2. Use your function to obtain a connection to the employees database.

pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [13]:
# 3. Once you have successfully run a query:
# -a. Intentionally make a typo in the database url. What kind of 
# error message do you see?

url_error = get_db_url('employes', username=username, host=host, password=password)

pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url_error)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'florence05'@'%' to database 'employes'")
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [14]:
# b. Intentionally make an error in your SQL query. What does the 
# error message look like?

pd.read_sql('SELECT * FROM employees LIMT 5 OFFSET 50', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '5 OFFSET 50' at line 1")
[SQL: SELECT * FROM employees LIMT 5 OFFSET 50]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [18]:
# 4. Read the employees and titles tables into two separate DataFrames.

employees_df = pd.read_sql('SELECT * FROM employees', url)
employees_df

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [19]:
titles_df = pd.read_sql('SELECT * FROM titles', url)
titles_df

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [22]:
# 5. How many rows and columns do you have in each DataFrame? Is that 
# what you expected?

employees_df.shape, titles_df.shape

((300024, 6), (443308, 4))

In [27]:
# 6. Display the summary statistics for each DataFrame.

employees_df.describe(exclude = np.number)

        birth_date first_name last_name  gender   hire_date
count       300024     300024    300024  300024      300024
unique        4750       1275      1637       2        5434
top     1952-03-08     Shahab      Baba       M  1985-06-20
freq            95        295       226  179973         132

In [28]:
titles_df.dtypes

emp_no        int64
title        object
from_date    object
to_date      object
dtype: object

In [33]:
# 7. How many unique titles are in the titles DataFrame?

titles_df.title.unique().size

7

In [41]:
# 8. What is the oldest date in the to_date column?

titles_df.to_date.max()

datetime.date(9999, 1, 1)

In [40]:
# 9. What is the most recent date in the to_date column?

titles_df.to_date.min()

datetime.date(1985, 3, 1)